* {
    margin: 0;
    padding: 0;
}
.nadpis{
    color: white;
    text-align: center;
    font-style: italic ;
    padding: 25px;
    color: rgb(255, 0, 106);
}
.podNadpis{
        width: 100%;
}
.podNadpis ul{
        list-style-type: none;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
}
.podNadpis a{
    color: rgb(253, 0, 0);
    text-decoration: none;
    display: block;
    padding: 0.5% 27px;
    font-weight:900;
    font-size: larger;
} 
/*fotka-pozadí*/
body {
    background-image: url("images/vlk_Domu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*texty a podpodNadpisy*/
.txt{
    color: red;
    margin: 1%;
}
.txt b{
    color: greenyellow;
}
/*tlačítka "<" ">"*/
a:hover {
    color: cyan;
} 
a {
    text-decoration: none;
    display: inline-block;
    padding: 0.4% 16px;
}
.round {
    color: black;
    border-radius: 50%;
}
/*tabulka*/
table, th, td {
    color: greenyellow;
    text-align: center;
    border-collapse:collapse;
    margin: 20px;
    border: 5px solid blueviolet;
}
/*footer*/
.down p{
    color: greenyellow;
    text-align: center;
    height: 30px;
}
.down{
    padding-top: 7px;
    bottom: 0;
    width: 100%;
}